<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <h5 class="title">Current Available Loads</h5>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">

              <tbody>
              <tr>
                <td>
                  <div class="row grid">
                    <figure class="effect-ruby" style="width: 35rem;">
                      <img
                        src="../../assets/img/trucks/side-tippers-tipping.jpg"
                        alt="Card image cap"/>
                      <figcaption>
                        <p>View more details</p>
                        <a href="#">View more</a>
                      </figcaption>
                    </figure>

                    <div class="card-body">
                      <h6 class="row text_align-center">Side Stipper Truck Needed</h6>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Company
                          Name</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Mfolo builders (Pty)
                          limited</p></div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Address:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">48 Canyon Creek Summer
                          field</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Contact Number:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">083 457 8952</p></div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">From
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Sunnyside & Arcadia,
                          Pretoria / Tshwane</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">To
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Johanneburg</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Start of Bidding
                          Price:</label></div>
                        <div class="col-md d-flex justify-content-between"><h6 class="card-text">R500</h6></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text"></label></div>
                        <div class="col-md-6 d-flex justify-content-between">
                          <button class="btn btn-default btn-block" (click)="test()">Bid Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row grid">
                    <figure class="effect-ruby" style="width: 35rem;">
                      <img
                        src="../../assets/img/trucks/side-tippers-tipping.jpg"
                        alt="Card image cap"/>
                      <figcaption>
                        <p>View more details</p>
                        <a href="#">View more</a>
                      </figcaption>
                    </figure>

                    <div class="card-body">
                      <h6 class="row text_align-center">Side Stipper Truck Needed</h6>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Company
                          Name</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Mfolo builders (Pty)
                          limited</p></div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Address:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">48 Canyon Creek Summer
                          field</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Contact Number:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">083 457 8952</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">From
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Sunnyside & Arcadia,
                          Pretoria / Tshwane</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">To
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Johannesburg</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Start of Bidding
                          Price:</label></div>
                        <div class="col-md d-flex justify-content-between"><h6 class="card-text">R500</h6></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text"></label></div>
                        <div class="col-md-6 d-flex justify-content-between">
                          <button class="btn btn-default btn-block" (click)="test()">Bid Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row grid">
                    <figure class="effect-ruby" style="width: 35rem;">
                      <img
                        src="../../assets/img/trucks/side-tippers-tipping.jpg"
                        alt="Card image cap"/>
                      <figcaption>
                        <p>View more details</p>
                        <a href="#">View more</a>
                      </figcaption>
                    </figure>

                    <div class="card-body">
                      <h6 class="row text_align-center">Side Stipper Truck Needed</h6>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Company
                          Name</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Mfolo builders (Pty)
                          limited</p></div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Address:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">48 Canyon Creek Summer
                          field</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Contact Number:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">083 457 8952</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">From
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Sunnyside & Arcadia,
                          Pretoria / Tshwane</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">To
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Johannesburg</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Start of Bidding
                          Price:</label></div>
                        <div class="col-md d-flex justify-content-between"><h6 class="card-text">R500</h6></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text"></label></div>
                        <div class="col-md-6 d-flex justify-content-between">
                          <button class="btn btn-default btn-block" (click)="test()">Bid Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row grid">
                    <figure class="effect-ruby" style="width: 35rem;">
                      <img
                        src="../../assets/img/trucks/side-tippers-tipping.jpg"
                        alt="Card image cap"/>
                      <figcaption>
                        <p>View more details</p>
                        <a href="#">View more</a>
                      </figcaption>
                    </figure>

                    <div class="card-body">
                      <h6 class="row text_align-center">Side Stipper Truck Needed</h6>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Company
                          Name</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Mfolo builders (Pty)
                          limited</p></div>
                      </div>

                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Address:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">48 Canyon Creek Summer
                          field</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Contact Number:</label>
                        </div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">083 457 8952</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">From
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Sunnyside & Arcadia,
                          Pretoria / Tshwane</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">To
                          Destination:</label></div>
                        <div class="col-md d-flex justify-content-between"><p class="card-text">Johannesburg</p></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text">Start of Bidding
                          Price:</label></div>
                        <div class="col-md d-flex justify-content-between"><h6 class="card-text">R500</h6></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 d-flex justify-content-between"><label class="card-text"></label></div>
                        <div class="col-md-6 d-flex justify-content-between">
                          <button class="btn btn-default btn-block" (click)="test()">Bid Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>


              </tbody>


            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
